<div>
  <mat-table class="padded" #table [dataSource]="dataSource" matSort aria-label="Elements">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="flightId">
      <mat-header-cell *matHeaderCellDef>Flight number</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.flight.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="source">
      <mat-header-cell *matHeaderCellDef>From</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.flight.source}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="destination">
      <mat-header-cell *matHeaderCellDef>To</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.flight.destination}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="departureDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Departure time</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.departureDate | date:'medium'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="commands">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a routerLink="{{row.id}}"><mat-icon>edit</mat-icon></a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.length"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 50]">
  </mat-paginator>
</div>
