<div>
  <mat-table class="padded" #table [dataSource]="dataSource" matSort aria-label="Elements">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="planeType">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Plane type</mat-header-cell>
      <mat-cell *matCellDef="let row">TODO</mat-cell>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Created date</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.createdDate | date}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lifetime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Lifetime, years</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.lifetime}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="commands">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a routerLink="{{row.id}}"><mat-icon>edit</mat-icon></a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.length"
    [pageIndex]="0"
    [pageSize]="25"
    [pageSizeOptions]="[10, 25, 50]">
  </mat-paginator>
</div>
