<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="pt-card">
      <mat-card-header>
        <mat-card-title>{{title()}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="Pilot" formControlName="pilotId">
                  <mat-option *ngFor="let p of pilots" [value]="p.id">
                    {{p.firstName}} {{p.lastName}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <div class="row">
        <div class="col full-width">
          <mat-card-subtitle>Stewardesses</mat-card-subtitle>
        </div>
        <div>
          <button mat-raised-button color="accent" (click)="addStewardess()">Add</button>
        </div>
      </div>
      <mat-card-content>
        <div formArrayName="stewardesses">
          <div
            class="row"
            *ngFor="let s of formStewardesses.controls; let i = index"
            [formGroup]="s">
            <div class="col">
              <mat-select placeholder="Setwardess" formControlName="id">
                <mat-option *ngFor="let stew of stewardesses" [value]="stew.id">
                  {{stew.firstName}} {{stew.lastName}}
                </mat-option>
              </mat-select>
            </div>
            <div class="col">
              <button
                mat-button
                color="warn">Remove</button>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit">Submit</button>
      </mat-card-actions>
    </mat-card>
    <h1>Увы, эта форма не работает</h1>
    {{form.value | json}} <br>
  </form>
