<div>
  <mat-table class="padded" #table [dataSource]="dataSource" matSort aria-label="Elements">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Model</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.model}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="capacity">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Capacity, T</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.capacity}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="seats">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Seats</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.seats}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="commands">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a routerLink="{{row.id}}"><mat-icon>edit</mat-icon></a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.length"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 25, 50]">
  </mat-paginator>
</div>
