<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">

      <mat-toolbar color="primary"></mat-toolbar>

      <mat-nav-list>
        <a mat-list-item href="/planeTypes">Plane types</a>
        <a mat-list-item href="/planes">Planes</a>
        <a mat-list-item routerLink="/pilots">Pilots</a>
        <a mat-list-item href="/stewardesses">Stewardesses</a>
        <a mat-list-item href="/crews">Crews</a>
        <a mat-list-item href="/flights">Flights</a>
        <a mat-list-item href="/departures">Departures</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>{{title}}</span>
      </mat-toolbar>
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
