<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="pt-card">
    <mat-card-header>
      <mat-card-title>{{title()}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="form.controls['name'].hasError('required')">
              Seats is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Plane type" formControlName="planeTypeId">
                <mat-option *ngFor="let pt of planeTypes" [value]="pt.id">
                  {{pt.model}}
                </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Created date" formControlName="createdDate">
            <mat-error *ngIf="form.controls['createdDate'].hasError('required')">
              Seats is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Lifetime, years" formControlName="lifetime">
            <mat-error *ngIf="form.controls['lifetime'].hasError('required')">
              Capacity is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.controls['lifetime'].hasError('min')">
              Capacity must be greater than 0
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
