<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="pt-card">
    <mat-card-header>
      <mat-card-title>{{title()}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Model name" formControlName="model">
            <mat-error>
              Model name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Seats" formControlName="seats">
            <mat-error *ngIf="form.controls['seats'].hasError('required')">
              Seats is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.controls['seats'].hasError('min')">
              Seats count must be greater than 0
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Capacity, T" formControlName="capacity">
            <mat-error *ngIf="form.controls['capacity'].hasError('required')">
              Capacity is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.controls['capacity'].hasError('min')">
              Capacity must be greater than 0
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
