<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="pt-card">
    <mat-card-header>
      <mat-card-title>{{title()}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Plane" formControlName="planeId">
                <mat-option *ngFor="let p of planes" [value]="p.id">
                  {{p.name}}
                </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Crew" formControlName="crewId">
                <mat-option *ngFor="let c of crews" [value]="c.id">
                  {{c.pilot}} <small>({{c.stewardesses}})</small>
                </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Flight" formControlName="flightId">
                <mat-option *ngFor="let f of flights" [value]="f.id">
                  {{f.source}} -> {{f.destination}}
                  <small>({{f.departureDate | date:'medium'}} -> {{f.arrivalDate | date:'medium'}})</small>
                </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
