<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="pt-card">
      <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="From" formControlName="source">
              <mat-error *ngIf="form.controls['source'].hasError('required')">
                  From is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Departure date" formControlName="departureDate">
              <mat-error *ngIf="form.controls['departureDate'].hasError('required')">
                  Departure date is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="To" formControlName="destination">
                <mat-error *ngIf="form.controls['destination'].hasError('required')">
                    Destination is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                  <input matInput placeholder="Arrival date" formControlName="arrivalDate">
                  <mat-error *ngIf="form.controls['arrivalDate'].hasError('required')">
                      Arrival date is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-card-subtitle>Ticket prices</mat-card-subtitle>
      <mat-card-content>
        <div formArrayName="tickets">
          <div *ngFor="let t of formTickets.controls; let i=index;" class="row" [formGroup]="t">
            <mat-form-field>
              <input matInput formControlName="price">
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!form.valid && (form.touched || form.dirty)">
        Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
