<div>
  <mat-table class="padded" #table [dataSource]="dataSource" matSort aria-label="Crew list">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pilot">
      <mat-header-cell *matHeaderCellDef>Pilot</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.pilot.firstName}} {{row.pilot.lastName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="stewCount">
      <mat-header-cell *matHeaderCellDef>Stewardesses</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.stewardesses?.length}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="commands">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a routerLink="{{row.id}}"><mat-icon>edit</mat-icon></a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 50, 100]">
  </mat-paginator>
</div>
